<p id="notice"><%= notice %></p>

<p>
  <strong>Situation:</strong>
  <%= @presence.situation %>
</p>

<p>
  <strong>Student:</strong>
  <%= @presence.student_id %>
</p>

<p>
  <strong>Lesson:</strong>
  <%= @presence.lesson_id %>
</p>

<%= link_to 'Edit', edit_presence_path(@presence) %> |
<%= link_to 'Back', presences_path %>
