<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professor.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @professor.subject %>
</p>

<p>
  <strong>User:</strong>
  <%= @professor.User_id %>
</p>

<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
